.topnav a{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: capitalize;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    
  }


  * {
  box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0px;
    font-family:Georgia, 'Times New Roman', Times, serif
  }
  
  
  .topnav {
  overflow: hidden;
  background-color: #4CAF50;
  }
  

  .topnav {
  
  display:flex;
  color: #f2f2f2;
  text-align: center;
  padding: 0px;
  text-decoration: none;
  position: sticky;
  justify-content: space-evenly;
  top: 0; left: 0; right: 0;
  align-items: center;
  z-index: 1000;
  margin:0px;
  }

  
  .topnav a:hover {
  background-color: #ddd;
  color: #4CAF50;
  }
        
  

        h1{
            color: #1e3f1f;
        }
        h1{
            text-align: center;
        }
        h1{
            font-size: 3em;
        }

        .head1 {
            text-align: center;
        }

        html{background-color: #a3cfa4;}

        .lilyvd{
            margin-left: 13cm;
        }

        
    li{
        list-style: none;
        padding: 10px 30px;
        background-image: url(https://cdn-icons-png.flaticon.com/128/7467/7467519.png);
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 35px;
      }

      

      .num1{
        font-size: 1.2em;
      }
      .num2{
        font-size: 1.2em;
      }
      .num3{
        font-size: 1.2em;
      }
      .num4{
        font-size: 1.2em;
      }
      .num5{
        font-size: 1.2em; 
      }
      .num6{
        font-size: 1.2em;
      }
       
      h2{
        font-size: 30px;
        color: #244525;
        font-style: italic;
      }
      .imh{
        text-align: center;
      }
      .imf{
        text-align: center;
      }
      .imc{
        text-align: center; 
      }

  